# Inventory and host-specific variables
hosts.txt
host_vars/
group_vars/

# Configuration files
configs/
backups/

# IDE/editor-specific files
.idea/
.vscode/
**/.DS_Store

# ignore temporary and system files
*.log
*.bak
*.swp