server.port: 5601
server.host: "localhost"
server.basePath: "/"
server.rewriteBasePath: false
{% if kibana_domain is defined %}
server.publicBaseUrl: "https://{{ kibana_domain }}/"
{% endif %}

server.maxPayload: 1048576
server.name: "{{ inventory_hostname }}"
server.ssl.enabled: false

elasticsearch.hosts: ["http://localhost:9200"]

logging:
  appenders:
    file:
      type: file
      fileName: /var/log/kibana/kibana.log
      layout:
        type: json
  root:
    appenders:
      - default
      - file

pid.file: /run/kibana/kibana.pid

i18n.locale: "en"
