[log]
level = "debug"
{% if use_json_output is defined and use_json_output == true %}
json = true
{% endif %}

[[node]]
name = "{{ inventory_hostname }}"
tendermint = { address = "http://localhost:26657" }
{% if disable_cosmovisor is defined and disable_cosmovisor == true %}
cosmovisor = { enabled = false }
{% else %}
cosmovisor = { chain-folder = "{{ fullnode_folder }}", chain-binary-name = "{{ binary_name }}", cosmovisor-path = "{{ ansible_user_dir }}/go/bin/cosmovisor" }
{% endif %}
{% if github_repo_remote is defined and github_token is defined %}
git = { repository = "{{ github_repo_remote }}", token = "{{ github_token }}" }
{% elif github_repo_remote is defined %}
git = { repository = "{{ github_repo_remote }}" }
{% endif %}
