[log]
level = "debug"
{% if use_json_output is defined and use_json_output == true %}
json = true
{% endif %}

[tendermint]
address = "http://localhost:26657"

[grpc]
{% if disable_grpc is defined and disable_grpc == true %}
enabled = false
{% endif %}
address = "localhost:9090"

[cosmovisor]
{% if disable_cosmovisor is defined and disable_cosmovisor == true %}
enabled = false
{% endif %}
{% if fullnode_folder is defined %}
chain-folder = "{{ fullnode_folder }}"
{% endif %}
{% if binary_name is defined %}
chain-binary-name = "{{ binary_name }}"
{% endif %}
cosmovisor-path = "{{ ansible_user_dir }}/go/bin/cosmovisor"

[git]
{% if github_repo_remote is defined %}
repository = "{{ github_repo_remote }}"
{% endif %}
{% if github_token is defined %}
token = "{{ github_token }}"
{% endif %}
