[Unit]
Description=Cosmos Node Exporter
After=network-online.target

[Service]
User={{ ansible_user }}
TimeoutStartSec=0
CPUWeight=95
IOWeight=95
ExecStart={{ ansible_user_dir }}/go/bin/cosmos-node-exporter --config {{ ansible_user_dir }}/config/cosmos-node-exporter.toml
Restart=always
RestartSec=2
LimitNOFILE=800000
KillSignal=SIGTERM

{% if disable_cosmovisor is not defined or disable_cosmovisor == false %}
{% if fullnode_folder is defined %}
Environment="DAEMON_HOME={{ fullnode_folder }}"
{% endif %}
{% if fullnode_folder is defined %}
Environment="DAEMON_NAME={{ binary_name }}"
{% endif %}
{% endif %}

[Install]
WantedBy=multi-user.target
