[Unit]
Description=Tendermint Exporter
After=network-online.target

[Service]
User={{ ansible_user }}
TimeoutStartSec=0
CPUWeight=95
IOWeight=95
ExecStart=tendermint-exporter --config {{ ansible_user_dir }}/config/tendermint-exporter.toml
Restart=always
RestartSec=2
LimitNOFILE=800000
KillSignal=SIGTERM

Environment="DAEMON_HOME={{ fullnode_folder }}"
Environment="DAEMON_NAME={{ binary_name }}"

[Install]
WantedBy=multi-user.target