---
- name: Install Promtail
  hosts: "{{ hosts }}"

  vars:
    promtail_zip_file: /tmp/promtail.zip
    promtail_tmp_path: /tmp/promtail
    promtail_config_path: /etc/promtail

  tasks:
    - name: Get latest release
      uri:
        url: https://api.github.com/repos/grafana/loki/releases/latest
        return_content: yes
      register: release_info

    - name: Get latest release URL
      set_fact:
        latest_version: "{{ release_info.content | from_json | community.general.json_query('assets[?name==`promtail-linux-amd64.zip`].browser_download_url') | join(', ') }}"

    - name: Download Promtail
      get_url:
        url: "{{ latest_version }}"
        dest: "{{ promtail_zip_file }}"

    - name: Create Promtail tmp directory if it does not exist
      ansible.builtin.file:
        path: "{{ promtail_tmp_path }}"
        state: directory

    - name: Unzip Promtail
      become: true
      ansible.builtin.unarchive:
        src: "{{ promtail_zip_file }}"
        dest: "{{ promtail_tmp_path }}"
        remote_src: yes
        
    - name: Copy Promtail binary
      become: true
      ansible.builtin.copy:
        src: "{{ promtail_tmp_path }}/promtail-linux-amd64"
        dest: /usr/bin/promtail
        mode: '0755'
        remote_src: yes

    - name: Create Promtail config directory if it does not exist
      become: true
      ansible.builtin.file:
        path: "{{ promtail_config_path }}"
        state: directory

    - name: Set up Promtail config
      become: true
      ansible.builtin.template:
        src: ../../templates/server/promtail.yml.j2
        dest: "{{ promtail_config_path }}/promtail.yml"

    - name: Set up Promtail systemd config
      become: true
      ansible.builtin.template:
        src: ../../templates/server/promtail.service.j2
        dest: /etc/systemd/system/promtail.service

    - name: Start Promtail and enable it on autostart
      become: true
      service:
        name: promtail
        state: started
        enabled: true
