[Unit]
Description=Promtail
Wants=network-online.target
After=network-online.target

[Service]
User=root
Type=simple
ExecStart=promtail --config.file=/etc/promtail/promtail.yml

[Install]
WantedBy=multi-user.target
